{% extends "base.html" %}
{% block content %}
    <h2>Bogus Followers</h2>
    <table>
    {% for user, score in bogusFollowers %}
    <tr>
    <td><img src="{{ user.profile_image_url.replace('_normal.png', '_mini.png') }}" alt="@{{ user.screen_name }}'s profile image" style="height: 24px;"></td>
    <td>{{ user.name|e }} (<a href="https://twitter.com/{{ user.screen_name }}" target="_blank">@{{ user.screen_name }}</a>, follows {{ score }} you know)</td>
    <!--td>
    <a href="javascript:block({{ user.id }})">Block @{{ user.screen_name }}</a>
    </td-->
    {% endfor %}
    </table>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
function block(id) {
    var req = new XMLHttpRequest();
    req.onreadystatechange = function () {
        if (this.readyState !== XMLHttpRequest.DONE) {
            return;
        }
        if (this.status !== 200) {
            alert("Error: "+this.responseText);
            return;
        }
    };
    req.open("POST", "/ajax/block");
    req.send();
}
</script>
{% endblock %}
